$transparent : transparent;
$header-bg : #333;
$text-white : #fff;
$text-active : #5899fc;
$border-line : #ececec;
$bg-white : #fff;
$boder-menu : #edf2fc;
$bg-active : #f2f7ff;
$bg-dot : #494949;
$bg-body : #f7f7f7;
$bg-table-th : #eaf1fb;
$table-border-line : #e7e7e7;
$select-border : #ccc;
$btn-border : #ccc;
$button-border : #8e8e8e;
$tab-isActive : #eee;