<!doctype html>
<html>
<style>
  .boxActive{outline:2px solid salmon;}
</style>
<head>
  <title>Hello Vue.js</title>
</head>
<link rel="stylesheet" href="/css/style.css">
<body>  
<div id="app">

  <div style="width: 800px;margin:100px auto">
    <form id="frmInsert" onsubmit="return false;" data-vv-scope="frmInsert">
      <table>
        <colgroup>
          <col style="width:160px;">
          <col>
        </colgroup>
        <tbody>
          <tr>
            <th>
              <label for="title">제목</label>
            </th>
            <td>
              <div class="flex-center-start">
                <input type="text" id="title" v-model="insertForm.title" name="title" v-validate="'required|max:200'"placeholder="제목을 입력해주세요">
                <span v-show="errorText" class="mg-l-10" style="color:red">제목을 입력해주세요</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="btn-wrap mg-t-20">
        <button class="btn" @click="questionInsert()">질문추가</button>
      </div>
      <div class="btn-wrap mg-t-20" v-show="activeIndexShow">
        <button type="button" class="btn btn-copy" @click="questionCopy(activeIndex)">
          복제
        </button>
        <button type="button" class="btn btn-delete" @click="questionDelete(activeIndex)">
          삭제
        </button>
        <button type="button" class="btn btn-delete" @click="questionUp(activeIndex)">
          위로
        </button>
        <button type="button" class="btn btn-delete" @click="questionDown(activeIndex)">
          아래로
        </button>
      </div>
      <div class="box-wrap mg-t-20 " :class="{ 'boxActive': item.isActive }" v-for="(item,index) in insertForm.question" v-if="insertForm.question.length > 0" @click="boxActive(index)">
        <div class="flex-center-start">
          <!-- 질문 -->
          <input type="text" class="flex-width-1" placeholder="질문제목" v-model="item.title" >
          <!-- 이미지 추가 -->
          <div class="file-label mg-l-10">
            <label :for="'qImg'+index" class="btn btn-insert">이미지추가</label>
            <input type="file" :id="'qImg'+index" name="qImg" @change="fileChange($event,index)" accept=".gif,.jpg,.jpeg,.png">
          </div>
          <!-- 설명추가 -->
          <button type="button" class="btn btn-insert mg-l-10" @click="item.contentShow=true">설명추가</button>
          <!-- 필수 체크 -->
          <div class="flex-wrap">
            <input type="checkbox" :id="'necessary'+index" class="mg-l-10" v-model="item.necessary" ><label :for="'necessary'+index" class="mg-l-5">필수</label>
          </div>
        </div>
        <div class="mg-t-10" v-show="item.img !=''">
          <img :src="item.img" style="width:200px" alt="Preview">
          <div class="btn-wrap justify-start">
            <button type="button" @click="imgDelete(index)">이미지삭제</button>
          </div>
        </div>
        <div class="mg-t-20" v-if="item.contentShow">
          <textarea v-model="item.content"></textarea>
          <button @click="contentDelete(item)">설명삭제</button>
        </div>
        <div class="flex-wrap mg-t-20">
          <!-- 항목선택 -->
          <label class="optionSelect">
            <input type="checkbox" hidden >
            <span>{{item.type.name}}</span>
            <ul class="options">
              <li v-for="(itemOption,idx) in options" v-if="options.length > 0"  @click="selectOption(index,idx)">{{itemOption.name}}</li>
            </ul>
          </label>
          <!-- 항목선택값 입력 -->
          <div class="flex-width-1 mg-l-10">
            <ul>
              <li v-if="item.type.value == 'ShortAnswer'">
                <input type="text" class="width-p-100" placeholder="단답형 텍스트">
              </li>
              <li v-if="item.type.value == 'Long'">
                <input type="text" class="width-p-100" placeholder="장문형 텍스트">
              </li>
              <li v-if="item.type.value== 'MultipleChoiceQuestions'">
                <div class="flex-center-start" v-for="(itemOption,idx) in item.data" v-if="item.data.length> 0">
                  <input type="text" class="width-p-100" v-model="item.data[idx]" >
                  <button type="button" class="mg-l-10" @click="dataDelete(index,idx)"  v-if="item.data.length >1">x</button>
                </div>
                <div class="flex-center-start" v-if="item.dataEtc">
                  <input type="text" class="width-p-100" value="기타">
                  <button type="button" class="mg-l-10" @click="item.dataEtc= false">x</button>
                </div>
                <div class="btn-wrap justify-start mg-t-20">
                  <button type="button" class="btn" @click="dataAdd(index)" >옵션추가</button>
                  <button type="button" class="btn" @click="item.dataEtc= true"  v-show="item.dataEtc==false" >기타추가</button>
                </div>
              </li>

              <li v-if="item.type.value == 'CheckBox'">
                <div class="flex-center-start" v-for="(itemOption,idx) in item.data" v-if="item.data.length> 0">
                  <input type="text" class="width-p-100" v-model="item.data[idx]" >
                  <button type="button" class="mg-l-10" @click="dataDelete(index,idx)" v-if="item.data.length >1">x</button>
                </div>
                <div class="flex-center-start" v-if="item.dataEtc">
                  <input type="text" class="width-p-100" value="기타">
                  <button type="button" class="mg-l-10" @click="item.dataEtc= false">x</button>
                </div>
                <div class="btn-wrap justify-start mg-t-20">
                  <button type="button" class="btn" @click="dataAdd(index)" >옵션추가</button>
                  <button type="button" class="btn" @click="item.dataEtc= true" v-show="item.dataEtc==false" >기타추가</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
       
      </div>
   
      <div class="btn-wrap mg-t-20">
        <button type="button" class="btn btn-add" @click="insert()">
          <span >등록</span>
        </button>
        <button type="button" class="btn btn-cancel" @click="formCancel()">
          <span >취소</span>
        </button>
      </div>
    </form>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
	const app = new Vue({
	  el: '#app',
	  data: {
	      options: [{
	              name: '단답형',
	              icon: 'notes',
	              value: 'ShortAnswer'
	          },
	          {
	              name: '장문형',
	              icon: 'subject',
	              value: 'Long'
	          },
	          {
	              name: '객관식질문',
	              icon: 'radio_button_checked',
	              value: 'MultipleChoiceQuestions'
	          },
	          {
	              name: '체크박스',
	              icon: 'check_box',
	              value: 'CheckBox'
	          },
	      ],
	      insertForm: {
	          title: '',
	          question: []
	      },
	      preView: false,
	      file: [],
        errorText:false,
        activeIndex:"",
        activeIndexShow:false,
	  },
	  methods:{
        boxActive(index){
          this.insertForm.question.forEach((item, i) => {
            this.$set(item, 'isActive', i === index);
        });

        this.activeIndex = index;
        this.activeIndexShow = true;

        console.log("activeIndex", this.activeIndex);
        },
	      contentDelete(item) {
	          item.contentShow = false;
	          item.content = '';
	      },
	      contentChange(item) {
	    	  return item.content.replace(/\n/g, "<br>").replace(/ /g, "&nbsp;");
	       },
	      imgDelete(index) {
	          let vm = this;
	          vm.insertForm.question[index].img = '';
	          $("#qImg" + index).val("");
	      },
	      selectOption(index, idx) {
	          this.insertForm.question[index].type = this.options[idx];
	          if (this.insertForm.question[index].type.value == "CheckBox" || this.insertForm.question[index].type.value == "MultipleChoiceQuestions") {
	              this.insertForm.question[index].data = ['옵션 1'];
	              this.insertForm.question[index].dataEtc = false;
	          }
	      },
	      dataAdd(index) {
	          this.insertForm.question[index].data.push(`옵션 ${this.insertForm.question[index].data.length+1}`);
	      },
	      dataDelete(index, idx) {
	          this.insertForm.question[index].data.splice(idx, 1);
            delete copyAlldata.isActive;
	      },
	      questionCopy(index) {
	          let originalData = this.insertForm.question[index];
	          let copyAlldata = JSON.parse(JSON.stringify(originalData));
	          this.insertForm.question.push(copyAlldata);
            delete copyAlldata.isActive;
	      },
        questionUp(index) {
          if (index > 0) {
              const temp = this.insertForm.question[index];
              this.$set(this.insertForm.question, index, this.insertForm.question[index - 1]);
              this.$set(this.insertForm.question, index - 1, temp);
              this.activeIndex = index- 1;
          }
      },
      questionDown(index) {
          if (index < this.insertForm.question.length - 1) {
              const temp = this.insertForm.question[index];
              this.$set(this.insertForm.question, index, this.insertForm.question[index + 1]);
              this.$set(this.insertForm.question, index + 1, temp);
              this.activeIndex = index+ 1;
          }
      },
	      questionInsert() {
	          this.insertForm.question.push({
	              title: "",
	              img: [],
	              contentShow: false,
	              content: "",
	              type: {
	                  name: '단답형',
	                  icon: 'notes',
	                  value: 'ShortAnswer'
	              },
	              dataShow: false,
	              data: ['옵션 1'],
	              dataEtc: false,
	              dataEtcValue: "",
	              necessary: false,
	              necessaryValue: false,
	              response: [],
	          });
	      },
	      questionDelete(index) {
	          this.insertForm.question.splice(index, 1);
	      },
	      insert: function() {
	              if (this.insertForm.title ==''||this.insertForm.title ==null ) {
                  this.errorText != this.errorText;
	                  return false;
	              }
	              const formData = new FormData();
	              formData.append("title", this.insertForm.title);

	              $.each(this.insertForm.question, function(i, q) {
	                  Object.keys(q).forEach((key) => {
	                      if (q[key] == null) {
	                          formData.append("questions[" + i + "]." + key, "");
	                      } else if (key == "img") {
	                          if (document.querySelector("#qImg" + i).files[0] != null) {
	                              formData.append("questions[" + i + "].imgFile", document.querySelector("#qImg" + i).files[0]);
	                          } else {
	                              formData.append("questions[" + i + "].img", q[key]);
	                          }
	                      } else if (key == "type") {
	                          formData.append("questions[" + i + "].type.name", q[key].name);
	                          formData.append("questions[" + i + "].type.icon", q[key].icon);
	                          formData.append("questions[" + i + "].type.value", q[key].value);
	                      } else {
	                          formData.append("questions[" + i + "]." + key, q[key]);
	                      }
	                  });
	              });
	              if (confirm("신청양식을 등록하시겠습니까?")) {
	                  /*axiosApiFormData('/formTemplate/insert/save', formData, (res) => {
	                      if (res.data.code == 'success') {
	                          this.insertForm = {};
	                          location.href = "/formTemplate";
	                      }
	                  });*/
	              }
	      },
	      fileChange: function(event, index) {
	          let vm = this;
	          const reader = new FileReader();
	          let maxSize =5 * 1024 * 1024;
	          let fileSize = event.target.files[0].size;
	          if(fileSize > maxSize){
	      		alert("파일첨부 사이즈는 5MB 이내로 가능합니다.");
	      		return false;
	      	  }
	          reader.onload = e => {
	              vm.insertForm.question[index].img = e.target.result;
	          }
	          reader.readAsDataURL(event.target.files[0]);
	      },
	      formCancel() {
	          if (confirm("취소하시겠습니까?")) {
	              location.href = "/formTemplate";
	          }
	      },
	  },
	  mounted() {
	      this.insertForm.question.push({
	          title: "",
	          img: [],
	          contentShow: false,
	          content: "",
	          type: {
	              name: '단답형',
	              icon: 'notes',
	              value: 'ShortAnswer'
	          },
	          dataShow: false,
	          data: ['옵션 1'],
	          dataEtc: false,
	          dataEtcValue: "",
	          necessary: false,
	          necessaryValue: false,
	          response: [],
	      });
	  }
	});
</script>
</body>

</html>