/* ***** mixin.scss ***** */

// [hidden]
@mixin hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin-top: -1px;
	box-sizing: border-box;
	color: transparent;
	overflow: hidden;
	opacity: 0;
}


// [box shadow]
@mixin shadow {
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.06);
}
@mixin shadow02 {
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
}
@mixin shadow03 {
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
}
@mixin shadow04 {
	box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.4);
}


// [transition]
@mixin transition-03 {
	transition: 0.3s all;
}
@mixin transition($speed, $css) {
	// transition(0.3s, width);
	transition: $speed $css;
}

// [transform]
@mixin transform-xy {
	transform: translate(-50%, -50%);
}
@mixin transform-x {
	transform: translateX(-50%);
}
@mixin transform-y {
	transform: translateY(-50%);
}

// [transform scale]
@mixin scale($scale) {
	transform:scale($scale)
}


// [overflow]
@mixin overflow-hidden {
	overflow:hidden;
	-webkit-overflow-scrolling: touch;
}

@mixin overflow-x {
	overflow:hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
@mixin overflow-y {
	overflow:hidden;
	overflow-y:auto;
	-webkit-overflow-scrolling: touch;
}

// [clearboth]
@mixin clearboth {
	content: '';
	display: table;
	clear: both;
}


// [ellipsis]
@mixin ellipsis {
	text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
@mixin ellipsis-2 {
	display: -webkit-box;
	text-overflow: ellipsis; 
	overflow: hidden; 
	-webkit-box-orient: vertical; 
	-webkit-line-clamp: 2; 
	word-break: break-word; 
}

// [display:flex]
// ex) @includes flex / @includes flex(space-between) / @includes flex(center, end)
@mixin flex($justify-content:center, $align-items:center){
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
}

@mixin flex-row($dir ,$align, $justify) {
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: flex;
@if($dir == row){
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
}
@if($dir == column){
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
}
@if($align == start){
		-moz-align-items: flex-start;
		align-items: flex-start;
}
@if($align == center){
		-moz-align-items: center;
		align-items: center;
}
@if($align == end){
		-moz-align-items: flex-end;
		align-items: flex-end;
}     
@if($align == stretch) {
		-moz-align-items: stretch;
		align-items: stretch;
}
@if($justify == between){
		-moz-justify-content: space-between;
		justify-content: space-between;
}
@if($justify == around){
	-moz-justify-content: space-around;
	justify-content: space-around;
}
@if($justify == center){
		-moz-justify-content: center;
		justify-content: center;
}
@if($justify == start){
		-moz-justify-content: flex-start;
		justify-content: flex-start;
}
@if($justify == end){
		-moz-justify-content: flex-end;
		justify-content: flex-end;
}
}

@mixin flex1{
-ms-flex: 1;
flex: 1;
}

// [animation]
@mixin animation-x($name, $from, $to){
	@keyframes #{$name} {
		0% {
			transform: translateX($from);
		}
		100% {
			transform: translateX($to);
		}
	  }
}

@mixin animation-y($name, $from, $to){
	@keyframes #{$name} {
		0% {
			transform: translateY($from);
		}
		100% {
			transform: translateY($to);
		}
	  }
}

@mixin animation-rotate($name, $from, $to){
	@keyframes #{$name} {
		0% {
			transform: rotate($from);
		}
		100% {
			transform: rotate($to);
		}
	  }
}

@mixin animation-scale($name, $from, $to){
	@keyframes #{$name} {
		0% {
			transform: scale($from);
		}
		100% {
			transform: scale($to);
		}
	  }
}

@for $i from 1 through 50 {
  .px-#{$i} {
    padding-right:1px * $i !important;
    padding-left:1px * $i !important;
  }
}

@for $i from 0 through 100 {
  .pd-t-#{$i} {
    padding-top: 1px * $i !important;
  }
  .pd-r-#{$i} {
    padding-right: 1px * $i !important;
  }
  .pd-b-#{$i} {
    padding-bottom: 1px * $i !important;
  }
  .pd-l-#{$i} {
    padding-left: 1px * $i !important;
  }
  .pd-a-#{$i} {
    padding: 1px * $i !important;
  }
}
// ! margin
@for $i from -100 through 100 {
  .mg-t-#{$i} {
    margin-top: 1px * $i !important;
  }
  .mg-r-#{$i} {
    margin-right: 1px * $i !important;
  }
  .mg-b-#{$i} {
    margin-bottom: 1px * $i !important;
  }
  .mg-l-#{$i} {
    margin-left: 1px * $i !important;
  }
  .mg-a-#{$i} {
    margin: 1px * $i !important;
  }
  .mg {
    &-auto {
      margin: auto;
    }
    &-t-auto {
      margin-top: auto;
    }
    &-r-auto {
      margin-right: auto;
    }
    &-b-auto {
      margin-bottom: auto;
    }
    &-l-auto {
      margin-left: auto;
    }
  }
}
// ! order
@for $i from 0 through 100 {
  .order-#{$i} {
    order: $i !important;
  }
}
// ! font-size
@for $i from 10 through 100 {
  .font-size-#{$i} {
    font-size: 1px * $i !important;
  }
}

// ! width
@for $i from 10 through 500 {
  .width-size-#{$i} {
    width: 1px * $i !important;
  }
}